---
subtitle: Build. Scale. Change Markets. 
---

{% include head.html %}

{% include googleanalytics.html %}

{% include 2024-nav.html %}

<div class="pt4 pt5-l pb2 w-two-thirds-ns ph3 ph0-l center">

<div class="flex flex-wrap bg-newgreen-light shadow-4 pa4 lh-copy f4 br2 mv4">
  <img class="w-25-l w-100 br2 pb3 pb0-l" style="transform:rotate(0 deg)" src="/images/2025-05-28-manpreet-headshot.png">
  <div class="w-75-l pl4-l">
    <strong class="f3">Hi, I'm Manpreet Dash 👋</strong>
    <br><br>
    I'm based in Evanston, IL and an incoming MBA candidate at Kellogg School of Management at Northwestern University. 
    <br><br>
    Welcome to my digital garden 🌱
  </div>

</div>

<div class="pv5">
  <div class="ttu f4 newgreen tracked b pb3">WORK</div>
  <p class="lh-copy f4">I'm a Builder, operator, evangelist, strategist - four lenses, with one pursuit: making frontier ideas in deep-tech such as AI, cybersecurity and industrial automation change the world. I'm a proponent of intergenerational fairness and care about topics which prioritize both present and future generations. </p>
  <div class="fr pv2"><a class="link black" href="/consulting">Read more <i data-feather="arrow-right" class="h1 v-mid"></i></a></div>
</div>

  <div class="pv5">
    <div class="ttu f5 newgreen tracked b pb3">Latest Writing</div>
  
    {% for post in site.posts | limit:5 %}
    <div class="flex flex-wrap w-100 pv2 justify-between">
      <div class="w-100 w-auto-l"><a class="link black b" href="https://tomcritchlow.com{{post.url}}">{{post.title}}</a></div>
      <div class="black-50 f6">{{ post.date | date: "%B %-d, %Y" }}</div>
    </div>
    {% endfor %}
  
    <div class="fr pv3"><a class="link black" href="/writing">See all <i data-feather="arrow-right" class="h1 v-mid"></i></div>
  
    </div>

<div class="pv5">
<div class="ttu f5 newgreen tracked b pb3">Founding Member</div>

<a class="link black-90 flex w-100 pv2 mv2 items-center" href="https://boschaishield.com">
  <div class="flex mr3 pa3 bg-white ba b--black-10 br-100">
  <img class="h1" src="https://www.google.com/s2/favicons?domain=boschaishield.com&sz=256">
</div>
  <div>
    <strong>Bosch AIShield</strong>
    <br>Bosch venture focused on cybersecurity for AI systems.
  </div>
  <div class="dn db-l black-50 f6 ml-auto">
    boschaishield.com
  </div>  
</a>

<a class="link black-90 flex w-100 pv2 mv2 items-center" href="yip.iitkgp.ac.in">
  <div class="flex mr3 pa3 bg-white ba b--black-10 br-100">
  <img class="h1" src="https://www.google.com/s2/favicons?yip.iitkgp.ac.in&sz=256">
</div>
  <div>
    <strong>IIT Kharagpur Young Innovators' Program</strong>
    <br>Launchpad for 100,000+ school students to tinker with innovative solutions for world's pressing challenges.
  </div>
  <div class="dn db-l black-50 f6 ml-auto">
    yip.iitkgp.ac.in
  </div>  
</a>

<a class="link black-90 flex w-100 pv2 mv2 items-center" href="https://bit.ly/bee-the-change-project">
  <div class="flex mr3 pa3 bg-white ba b--black-10 br-100">
  <img class="h1" src="https://www.google.com/s2/favicons?domain=thebeeconservancy.org&sz=256">
</div>
  <div>
    <strong>Bee The Change</strong>
    <br>Bee-boxes conservation initiative impacting food security & climate change. 
  </div>
  <div class="dn db-l black-50 f6 ml-auto">
    bit.ly/bee-the-change-project
  </div>  
</a>


</div>




{% include 2024-footer.html %}
